In [6]:
#A python program to display all the header tags from wikipedia.org and make datframe
import requests
r = requests.get('https://en.wikipedia.org/wiki/Main_Page')
import pandas as pd
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.text, 'html.parser')
heading_tags =["h1", "h2", "h3"]
for tags in soup.find_all(heading_tags):
    print(tags.name + '   ' + tags.text.strip())
    results = soup.find_all(heading_tags)
first_result = results[0]
first_result
records=[]
for result in results:
    Tagname= tags.name
    Headine=result.find('span').text
    records.append((Tagname,Headine))
    import pandas as pd
df = pd.DataFrame(records, columns=['Tagname', 'Headine'])

df.head()

h1   Main Page
h1   Welcome to Wikipedia
h2   From today's featured article
h2   Did you know ...
h2   In the news
h2   On this day
h2   Today's featured picture
h2   Other areas of Wikipedia
h2   Wikipedia's sister projects
h2   Wikipedia languages

  Tagname               Headine
0      h2             Main Page
1      h2  Welcome to Wikipedia
2      h2
3      h2      Did you know ...
4      h2           In the news

In [135]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
# Downloading imdb top 50 movie's data
url = 'https://www.imdb.com/list/ls055386972/?st_dt=&mode=simple&page=1&ref_=ttls_vw_smp&sort=list_order,asc'
response = requests.get(url)
soup = BeautifulSoup(response.text,'html.parser')
Result = soup('div', class_="lister-item mode-simple")
first_Result = Result[0]
first_Result
records=[]
for result in Result:
    movietital=result.find('span',class_='lister-item-header').text[5:-9]
    Releaseyear=result.find('span',class_='lister-item-year text-muted unbold').text[1:-1]
    rating = result.find('strong').text[2:-4]
    records.append((movietital,Releaseyear,rating))
    import pandas as pd
df = pd.DataFrame(records, columns=['movietital', 'Releaseyear','rating'])

df.head()

,movietital,Releaseyear,rating
0,The Godfather,1972,9.2\n ...
1,Schindler's List,1993,9\n ...
2,12 Angry Men,1957,9\n ...
3,La vita è bella,1997,8.6\n ...
4,"Il buono, il brutto, il cattivo",1966,8.8\n ...